body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.logo {
    max-width: 100%;
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 40px auto; /* Increased bottom margin */
}

.feedback-logo {
    margin: 0 auto 20px auto;
}

.content-container {
    margin-top: 12vh; /* Moves the content slightly lower from the top */
    padding-bottom: 45px; /* Adds space at the bottom */
}

.stars {
    display: flex;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    margin-top: 20px;
}

.star {
    color: transparent;
    text-shadow: 0 0 0 #ccc;
    transition: text-shadow 0.3s ease;
}

.star:hover,
.star:hover ~ .star {
    text-shadow: 0 0 0 gold;
}
